*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif;
    background: white url(../imagens/fundo.png) repeat-x;
}

.container{
    width: 750px;
    margin: 0 auto;
    
}

#topo{
    margin: 0;
    height: 175px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
}

.logo{
    padding-top: 50px;
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -800px; /*Para esconder o texto dentro do h1 "Noticias cidade"*/
}

ul{ /*Formatando todas as ul da pagina*/
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul{ /*Formatando a ul que está dentro da div topo*/
    margin-top: 15px;
   /* margin-left: 15px; -> Se quisesse afastar um pouco a barra da margem esquerda */
    background: #bd1d11;
    float: left; /*Para não perder o background ao aplicar o float no li*/
}

#topo ul li{ /*Todos os itens da lista*/
    float: left; /*Para ficarem todos lado a lado*/
}

#topo ul li a{ /*Todos os links da lista*/
    display: block; /*Sempre usar dessa forma para menu*/
    font-size: 0.9em;
    padding: 7px 20px; /*Espaçar os itens para fazer o menu*/
    text-decoration: none;
    color: #fff;
    background: url(../imagens/divisor.png) repeat-y left center;
}

#topo ul .primeiro a{
    background: none; /*Remove o divisor do primeiro item*/
}

#topo ul li a:hover{
    color: #662727; /*Quando passar o mouse por cima do link*/
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,        /*Para marcar o no menu em qual aba está*/
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos
{
    color: #fff;
    background: #de003e;
    cursor: text;
}

#conteudo{
    background: #f5f5f5;
    margin-top: 60px;

}

#lateral{
    width: 180px;
    margin: 0 0 20px -750px;
    float: left;
}

/*é importante que o conteúdo principal venha primeiro no html, por isso temos que adequar
o posicionamento aqui no css. Poderia ter usado apenas o float left, porém, a ordem ficaria
errada, levando em conta que o primário vem antes no html mas deve ficar no centro.*/

#primario{ /*Se refere a 3 colunas*/
    width: 270px;
    float: left;
    margin: 0 0 20px 195px; /*Tivemos que adequar para colocar na ordem certa*/
}

#duas-colunas #primario{ /*Vai manter os padrões do primário acima, muda apenas o width*/
    width: 555px;
}

#uma-coluna #primario{ /*Mantém os mesmos padrões, muda o width e margin*/
    width: 750px;
    margin: 0 0 20px 0; /*Tivemos que adequar para colocar na ordem certa*/
}

#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;;
}



.caixa{
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    padding: 5px;
}

h2{
    font-size: 1em;
    background: #163673;
    color: #fff;
    padding: 5px;
}

h3{
    background-color: #b10333;
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #f3f3f3; /*Para dar uma separação entre cada um*/
}

#lateral ul a:hover{
    padding-left: 20px; /*Para o marcador caber certinho*/
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center ;
    color: #a1a1a1;
}

img{
    border: 2px solid #dfdfdf;
}

img.destaque{
    width: 98%;
}

 /*Formulário*/

label{
    display: block;
    cursor: pointer;
}

input{
    font-size: 0.9em;
    background-color: #fff;
    width:150px ;
    padding: 5px;
    margin-top: 5px ;
}

input.submit{
    width: 80px;
    color: white;
    background-color: #b10333;
    border: 2px solid #870529;
    cursor: pointer;
}

/*Lista de noticias*/

#listagem-noticias li{
    height: 70px;
    padding: 2px;
    border-bottom: 1px solid #ccc;
}

#listagem-noticias li a img{
    float: left;
    margin: 5px;
}

#listagem-noticias li a{
    text-decoration: none;
}

#listagem-noticias li a p{
    font-size: 0.8em;
    color: black;
}

#listagem-noticias li a h5{
    margin-top: 5px;
    color: #688df2;
    text-transform: uppercase;
}



/*Rodapé*/

#container-rodape{
    clear: both; /*Para voltar a aparecer o fundo cinza do conteúdo e voltar ao display padrão*/
    background-color:#163673 ;
}

#rodape{
    color: #fff;
    margin: 0 auto;
    width: 750px;
    padding: 15px;
}