* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

/**Formatação Layout**/

#cabecalho{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#logo{
    padding: 5px;
}

#menu{
    padding: 5px;
}

#area_principal{
    
    width: 920px;
    margin: 10px auto;
}

#area_noticias{
    background: white;
    width: 660px;
    float: left;
}

#menu_lateral{
    width: 240px;
    float: right;
}

#rodape{
    clear: both;
    background: #CCC;
    text-align: center;
    padding: 10px;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.data_postagem{
    font-size: 0.8em;
    display: block;
    padding: 5px;

}

.postagem_lateral{
    background: white;
    padding: 8px;
}

#categoria_lateral a:link{
    display: block;
    background: white;
    padding: 10px;
}

/**Formatação de Link**/
a{
    text-decoration: none;
}

a:link, a:visited{ 
    color: #f7b600;
    padding: 8px 12px;
}

a:hover{
    text-decoration: underline;
}


/**Formatação de Links do cabeçalho**/

#cabecalho a:link, #cabecalho a:visited{ 
    color: #FFF;
    padding: 8px 12px;
}

#cabecalho a:hover{
    color: #f7b600;
    background: #FFF;
    text-decoration: none;
}

/**Formatações em geral**/

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

h2{
    color: #f7b600 ;
}

h3{
    color: #4e4e4e;
    background-color: lightslategray;
    text-align: center;
    padding: 10px;
}

#categoria_lateral h3{
    margin-top: 10px;
}

.branco{
    color: white;
}